<% if (theme.sidebar === 'bottom'){ %>
<%- partial('_partial/sidebar') %>
<% } %>
<section class="FootPart">
    <section class="FootFrameNoAppending">
        <nav class="FootContent">
            <a href="https://c.rcex.live:8/Frame" target="_parent" class="FootOBJ">
                About
            </a>
            <a href="http://go.rcex.live/Mail" target="_blank" class="FootOBJ">
                Contact
            </a>
            <a href="https://c.rcex.live:8/Plus" target="_parent" class="FootOBJ">
                Community
            </a>
            <a href="https://c.rcex.live:8/RIG" target="_parent" class="FootOBJ">
                enGames
            </a>
            <a href="https://c.rcex.live:8/9Soft" target="_parent" class="FootOBJ">
                9Soft
            </a>
            <a href="https://www.reddit.com/.rss?feed=6958842afa30f8b426fc4d99380fae0ab8734738&user=StevenRCE0" target="_blank" class="FootOBJ">
                Cn9-Reddit
            </a>
            <a href="/Atom.xml" target="_blank" class="FootOBJ">
                Cn9-Post
            </a>
        </nav>
        <br />
        <nav class="FootContent">
            <a href="//trdthg.github.io" target="_blank" class="FootOBJ">
                Trdthg's Blog
            </a>
            <a href="//trdthg.github.io" target="_blank" class="FootOBJ">
                Isliencej's Blog
            </a>
        </nav>

    </section>
</section>
