<!-- <footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
  </div>
</footer> -->
<section class="FootPart">
    <section class="FootFrameNoAppending">
        <nav class="FootContent">
            <a href="https://c.rcex.live:8/Frame" target="_parent" class="FootOBJ">
                About
            </a>
            <a href="http://go.rcex.live/Mail" target="_blank" class="FootOBJ">
                Contact
            </a>
            <a href="https://c.rcex.live:8/Plus" target="_parent" class="FootOBJ">
                Community
            </a>
            <a href="https://c.rcex.live:8/RIG" target="_parent" class="FootOBJ">
                enGames
            </a>
            <a href="https://c.rcex.live:8/9Soft" target="_parent" class="FootOBJ">
                9Soft
            </a>
            <a href="https://www.reddit.com/.rss?feed=6958842afa30f8b426fc4d99380fae0ab8734738&user=StevenRCE0" target="_blank" class="FootOBJ">
                Cn9-Reddit
            </a>
            <a href="/Atom.xml" target="_blank" class="FootOBJ">
                Cn9-Post
            </a>
        </nav>

    </section>
</section>
