<%- partial('_partial/article', {post: page, index: false}) %>

<section>
  <div style="margin: 0 20px; border-top: 1px solid #ddd; padding-top: 1.6em; ;"></div>
  <div class="Headline">Comments</div>
  <section id="comments" class="Passage">
  </section>
</section>
