<%- partial('_partial/article', {post: page, index: false}) %>

<section>
  <div style="margin: 0 20px; border-top: 1px solid #ddd; padding-top: 1.6em; ;"></div>
  <div class="Headline">Comments</div>
  <section class="Passage">
    <div id="gitalk-container" class="Passage"></div>
  </section>
</section>
