<% if (site.categories.length){ %>
  <div class="widget-wrap">
    <h3 class="Headtext"><%= __('categories') %></h3>
    <div class="article-inner-float widget">
      <%- list_categories({show_count: theme.show_count}) %>
    </div>
  </div>
<% } %>
