<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <h3 class="Headtext"><%= __('tagcloud') %></h3>
    <div class="article-inner-float LinedLinks tagcloud">
      <%- tagcloud() %>
    </div>
  </div>
<% } %>
